<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>碎片整合</title>
    <!--引入js-->
    <script th:src="${'/js/jquery-3.5.0.min.js'}" type="text/javascript"></script>
    <!--引入layer-->
    <script th:src="@{https://cdn.bootcss.com/layer/2.1/layer.js}" type="text/javascript"></script>
</head>
<body>
<!-- 引入碎片文件 header.html-->
<div th:replace="fragments/headers"></div>

<!-- 引入碎片文件 sidebar.html-->
<div th:replace="fragments/sidebar"></div>

<!-- body content -->
<div th:if="${template}">
    <div th:replace="${template}"></div>
</div>

<!-- 引入碎片文件 footer.html-->
<div th:replace="fragments/footer::footer"></div>
</body>
</html>